# Operating systems: OSX, Windows
# Editors: SublimeText, JetBrains
# Technologies: NodeJS

################################################################################

# OSX

## Files
*.DS_Store
.AppleDouble
.LSOverride

## Icon must end with two \r
Icon

## Thumbnails
._*

## Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

## Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

################################################################################

# Windows

## Windows image file caches
Thumbs.db
ehthumbs.db

## Folder config file
Desktop.ini

## Recycle Bin used on file shares
$RECYCLE.BIN/

## Windows Installer files
*.cab
*.msi
*.msm
*.msp

## Windows shortcuts
*.lnk

################################################################################

# SublimeText

## Cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

## Workspace files are user-specific
*.sublime-workspace

## Project files
*.sublime-project

## SFTP configuration file
sftp-config.json

## Package control specific files
Package Control.last-run
Package Control.ca-list
Package Control.ca-bundle
Package Control.system-ca-bundle
Package Control.cache/
Package Control.ca-certs/
bh_unicode_properties.cache

## Packages
GitHub.sublime-settings

################################################################################

# JetBrains

## Project settings
.idea/

## File-based project format
*.iws

## Output
/out/

## mpeltonen/sbt-idea plugin
.idea_modules/

## JIRA plugin
atlassian-ide-plugin.xml

## Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

################################################################################

# NodeJS

## Logs
logs
*.log
npm-debug.log*

## Runtime data
pids
*.pid
*.seed
*.pid.lock

## Directory for instrumented libs generated by jscoverage/JSCover
lib-cov

## Coverage directory used by tools like istanbul
coverage

## nyc test coverage
.nyc_output

## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## node-waf configuration
.lock-wscript

## Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

## Dependency directories
node_modules
jspm_packages

## Optional npm cache directory
.npm

## Optional eslint cache
.eslintcache

## Optional REPL history
.node_repl_history

## Output of 'npm pack'
*.tgz

## Yarn Integrity file
.yarn-integrity
